<%- layout("/layouts/boilerplate") %>

<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Create a New Listing</h3>
    <form
      action="/listings"
      method="post"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="listing[title]"
          placeholder="Add a catchy title"
          class="form-control"
          required
          id="title"
        />
        <div class="valid-feedback">Looks Good!</div>
        <div class="invalid-feedback">Please enter Title</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          placeholder="Add description to your listing"
          class="form-control"
          required
          id="description"
        ></textarea>
        <div class="valid-feedback">Looks Good!</div>
        <div class="invalid-feedback">Please enter Description</div>
      </div>

       <div class="mb-3">
          <label for="category" class="form-label">Category</label>
          <select name="listing[category]" id="category" class="form-select" required>
            <option value="">Choose a category</option>
            <option value="Amazing Views">Amazing views</option>
            <option value="Beach">Beach</option>
            <option value="Luxe">Luxe</option>
            <option value="Hanoks">Hanoks</option>
            <option value="Cases Particular">Cases Particular</option>
            <option value="Minsus">Minsus</option>
            <option value="Hotels">Hotels</option>
            <option value="Warehouse">Warehouse</option>
            <option value="Pet House">Pet House</option>
            <option value="International">International</option>
            <option value="Nature">Nature</option>
            <option value="Satellite">Satellite</option>
          </select>
          <div class="invalid-feedback">Please select a category</div>
        </div>

      <!-- <div class="mb-3">
        <label for="image" class="form-label">Image Url / Link</label>
        <input
          type="text"
          name="listing[image]"
          placeholder="enter image link/url"
          class="form-control"
        />
      </div> -->

        <div class="mb-3">
        <label for="image" class="form-label">Upload Listing Image</label>
        <input
          type="file"
          name="listing[image]"
          class="form-control"
          id="image"
        />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            name="listing[price]"
            placeholder="eg. 1200"
            class="form-control"
            required
            id="price"
          />
          <div class="valid-feedback">Looks Good!</div>
          <div class="invalid-feedback">Please enter valid Price</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            name="listing[country]"
            placeholder="eg. INDIA"
            class="form-control"
            required
            id="country"
          />
          <div class="valid-feedback">Looks Good!</div>
          <div class="invalid-feedback">Please enter name of Country</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="listing[location]"
          placeholder="eg. Jaipur, Rajasthan"
          class="form-control"
          required
          id="location"
        />
        <div class="valid-feedback">Looks Good!</div>
        <div class="invalid-feedback">Please enter Location</div>
      </div>

      <button class="btn btn-dark add-btn mb-2 mt-2">add</button>
    </form>
  </div>
</div>
